.cmplz-hidden {
					display: none !important;
				}


			.post .entry-meta {
    display: none;
}
		

.vc_custom_1674523915545{margin-top: 0px !important;padding-bottom: 80px !important;}.vc_custom_1674573148911{padding-top: 80px !important;padding-bottom: 0px !important;}.vc_custom_1674677054646{padding-top: 30px !important;padding-bottom: 100px !important;}.vc_custom_1674677183922{padding-top: 100px !important;padding-bottom: 100px !important;}.vc_custom_1693566672749{padding-top: 80px !important;padding-bottom: 100px !important;}.vc_custom_1693566719498{padding-top: 50px !important;padding-bottom: 100px !important;}.vc_custom_1680529417775{padding-top: 80px !important;padding-bottom: 100px !important;}.vc_custom_1674676909001{margin-top: 25px !important;}.vc_custom_1674676927624{margin-top: 25px !important;}.vc_custom_1674677860862{margin-bottom: 0px !important;padding-bottom: 10px !important;}.vc_custom_1674671559734{padding-top: 10px !important;padding-bottom: 20px !important;}.vc_custom_1674580929370{padding-bottom: 35px !important;}.vc_custom_1674582733393{padding-bottom: 35px !important;}.vc_custom_1674582704818{padding-bottom: 35px !important;}.vc_custom_1674531126516{padding-top: 40px !important;padding-bottom: 30px !important;}.vc_custom_1680529844209{margin-top: 30px !important;}.vc_custom_1681679491692{padding-top: 25px !important;}.vc_custom_1676479127558{padding-top: 25px !important;}.vc_custom_1674670188494{padding-top: 25px !important;}.vc_custom_1676479144029{padding-top: 25px !important;}.vc_custom_1679511019995{padding-top: 25px !important;}.vc_custom_1680529815031{padding-top: 25px !important;}.vc_custom_1674671447101{border-top-width: 1px !important;border-bottom-width: 1px !important;border-left-width: 1px !important;padding-bottom: 0px !important;border-left-color: #efefef !important;border-left-style: solid !important;border-top-color: #efefef !important;border-top-style: solid !important;border-bottom-color: #efefef !important;border-bottom-style: solid !important;}.vc_custom_1674677868958{padding-bottom: 25px !important;}.vc_custom_1674650392394{margin-top: -30px !important;padding-bottom: 35px !important;}.vc_custom_1681679717951{margin-bottom: 30px !important;}.vc_custom_1674674066988{padding-top: 40px !important;padding-bottom: 30px !important;}.vc_custom_1676454792410{margin-top: 30px !important;}


#main {
  padding-top: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 778px) {
  #main {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}


#default-btn-8af6415b8dd0258832b9336e0888ed86 {
  border-radius: 30px;
  font-size: 18px;
  line-height: 20px;
}
.btn-shadow#default-btn-8af6415b8dd0258832b9336e0888ed86 {
  box-shadow: 0 1px 6px rgba(0,0,0,0.12);
  transition: box-shadow 0.2s ease-out, opacity 0.45s;
}
.btn-shadow#default-btn-8af6415b8dd0258832b9336e0888ed86:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-3d#default-btn-8af6415b8dd0258832b9336e0888ed86:hover {
  box-shadow: 0px 2px 0px 0px #e0e0e0;
}
.btn-flat#default-btn-8af6415b8dd0258832b9336e0888ed86 {
  box-shadow: none;
}
.btn-flat#default-btn-8af6415b8dd0258832b9336e0888ed86:hover {
  box-shadow: none;
}
#default-btn-8af6415b8dd0258832b9336e0888ed86.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-8af6415b8dd0258832b9336e0888ed86 > i {
  margin-right: 8px;
  font-size: 15px;
}
#default-btn-8af6415b8dd0258832b9336e0888ed86:not(:hover) {
  border-width: 1px;
  border-color: #ffffff !important;
  background: none !important;
  padding: 14px 22px 14px 22px;
}
#default-btn-8af6415b8dd0258832b9336e0888ed86:hover {
  border-width: 1px;
  color: #ad6f69;
  background: #ffffff !important;
  padding: 14px 22px 14px 22px;
}
#default-btn-8af6415b8dd0258832b9336e0888ed86:hover * {
  color: #ad6f69;
}
#default-btn-8af6415b8dd0258832b9336e0888ed86.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-8af6415b8dd0258832b9336e0888ed86 > i {
  margin-right: 8px;
}

#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3 {
  border-radius: 30px;
  font-size: 18px;
  line-height: 20px;
}
.btn-shadow#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3 {
  box-shadow: 0 1px 6px rgba(0,0,0,0.12);
  transition: box-shadow 0.2s ease-out, opacity 0.45s;
}
.btn-shadow#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-3d#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3:hover {
  box-shadow: 0px 2px 0px 0px #e0e0e0;
}
.btn-flat#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3 {
  box-shadow: none;
}
.btn-flat#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3:hover {
  box-shadow: none;
}
#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3 > i {
  margin-right: 8px;
  font-size: 15px;
}
#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3:not(:hover) {
  border-width: 1px;
  border-color: #ffffff !important;
  background: none !important;
  padding: 14px 22px 14px 22px;
}
#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3:hover {
  border-width: 1px;
  color: #ad6f69;
  background: #ffffff !important;
  padding: 14px 22px 14px 22px;
}
#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3:hover * {
  color: #ad6f69;
}
#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-2d95c341f937bf8a9a1ebdb76c07eba3 > i {
  margin-right: 8px;
}

#default-btn-391607ff14ec8fedf678399e6a40369b {
  font-size: 14px;
  line-height: 16px;
  padding: 4px 0px 4px 0px;
}
#default-btn-391607ff14ec8fedf678399e6a40369b.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-391607ff14ec8fedf678399e6a40369b:after {
  height: 1px;
}
#default-btn-391607ff14ec8fedf678399e6a40369b > i {
  margin-right: 8px;
  font-size: 11px;
}
#default-btn-391607ff14ec8fedf678399e6a40369b:not(.link-hover-off):hover {
  color: #8e8e8e;
  background: none;
}
#default-btn-391607ff14ec8fedf678399e6a40369b:not(.link-hover-off):hover * {
  color: #8e8e8e;
  background: none;
}
#default-btn-391607ff14ec8fedf678399e6a40369b.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-391607ff14ec8fedf678399e6a40369b > i {
  margin-right: 8px;
}

#default-btn-40c78e7423b622a7dc832a8d96af597a {
  font-size: 14px;
  line-height: 16px;
  padding: 4px 0px 4px 0px;
}
#default-btn-40c78e7423b622a7dc832a8d96af597a.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-40c78e7423b622a7dc832a8d96af597a:after {
  height: 1px;
}
#default-btn-40c78e7423b622a7dc832a8d96af597a > i {
  margin-right: 8px;
  font-size: 11px;
}
#default-btn-40c78e7423b622a7dc832a8d96af597a:not(.link-hover-off):hover {
  color: #8e8e8e;
  background: none;
}
#default-btn-40c78e7423b622a7dc832a8d96af597a:not(.link-hover-off):hover * {
  color: #8e8e8e;
  background: none;
}
#default-btn-40c78e7423b622a7dc832a8d96af597a.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-40c78e7423b622a7dc832a8d96af597a > i {
  margin-right: 8px;
}

#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1 {
  font-size: 14px;
  line-height: 16px;
  padding: 4px 0px 4px 0px;
}
#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1:after {
  height: 1px;
}
#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1 > i {
  margin-right: 8px;
  font-size: 11px;
}
#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1:not(.link-hover-off):hover {
  color: #8e8e8e;
  background: none;
}
#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1:not(.link-hover-off):hover * {
  color: #8e8e8e;
  background: none;
}
#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-a7575b1bcc01e1fdf3c532516d3cd4b1 > i {
  margin-right: 8px;
}

#default-btn-561194ccce8078c1689b49a30860282e.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-561194ccce8078c1689b49a30860282e > i {
  margin-right: 8px;
}

#default-btn-9a15716255cf4ed587c8c14c24d2be78 {
  font-size: 14px;
  line-height: 16px;
  padding: 4px 0px 4px 0px;
}
#default-btn-9a15716255cf4ed587c8c14c24d2be78.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-9a15716255cf4ed587c8c14c24d2be78:after {
  height: 1px;
}
#default-btn-9a15716255cf4ed587c8c14c24d2be78 > i {
  margin-right: 8px;
  font-size: 11px;
}
#default-btn-9a15716255cf4ed587c8c14c24d2be78:not(.link-hover-off):hover {
  color: #8e8e8e;
  background: none;
}
#default-btn-9a15716255cf4ed587c8c14c24d2be78:not(.link-hover-off):hover * {
  color: #8e8e8e;
  background: none;
}
#default-btn-9a15716255cf4ed587c8c14c24d2be78.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-9a15716255cf4ed587c8c14c24d2be78 > i {
  margin-right: 8px;
}

#default-btn-be14ecdfa71448d988e8698c2c3bd75b.ico-right-side > i {
  margin-right: 0px;
  margin-left: 8px;
}
#default-btn-be14ecdfa71448d988e8698c2c3bd75b > i {
  margin-right: 8px;
}


		.googlesitekit-sign-in-with-google__frontend-output-button{max-width:320px}
		